- var articles        = '/deploy/html/articles'
- var getting_started = '/deploy/html/getting-started'
- var home            = '/deploy/html/home'
- var landing_pages   = '/deploy/html/landing-pages'
- var user            = '/deploy/html/user'

- var link_article_new_window       = articles + '/article-new-window-view.html'
- var link_app_keyword_search       = home     + '/app-keyword-search.html'
- var link_fundamentals_of_security = articles + '/fundamentals-of-security.html'
            
mixin links-navbar__landing-page
    :markdown
        * [About](#{landing_pages}/about.html)
        * [Features](#{landing_pages}/features.html)
        * [Get Started](#{getting_started}/index.html)
  
mixin links-navbar__home
    :markdown
        * [![Navigate](/deploy/assets/icons/navigate.png)](#{home}/navigate.html)
        * [![Home](/deploy/assets/icons/home.png)](#{home}/main-app-view.html)
        * [![Help](/deploy/assets/icons/help.png)](#{home}/help.html)
        * [![User](/deploy/assets/icons/user.png)](#{user}/user.html)
        * [![Logout](/deploy/assets/icons/logout.png)](#{user}/returning-user-login.html)
            
mixin links-navbar__not_logged_in
    :markdown
        * [![Help](/deploy/assets/icons/help.png)](#{home}/help.html)
            
mixin links-home__navigate
    a(href='#{home}/attacks-vulnerabilities.html') 
      h4.light-grey Attacks & Vulnerabilities
    a(href='#{home}/principles-standards.html')
      h4.light-grey Principals & Standards
    a(href='#{articles}/my-articles.html')
      h4.light-grey My Articles
    a(href='#{articles}/my-search-items.html')
      h4.light-grey My Search Items
    
mixin links_user_pages
    .col-sm-3
      a.action(href='user.html') User
    .col-sm-3
      a.action(href='backend.html') Backend
    .col-sm-3
      a.action(href='developer-utilities.html') Developer Utilities
    .col-sm-3
      a.action(href='other.html') Other
