- var articles        = '/deploy/html/articles'
- var getting_started = '/deploy/html/getting-started'
- var home            = '/deploy/html/home'
- var landing_pages   = '/deploy/html/landing-pages'
- var user            = '/deploy/html/user'
- var help            = '/deploy/html/help'

- var link_article_new_window       = articles + '/article-new-window-view.html'
- var link_app_keyword_search       = home     + '/app-keyword-search.html'
- var link_fundamentals_of_security = articles + '/fundamentals-of-security.html'
            
mixin links-navbar__landing-page
    :markdown
        * [About](#{landing_pages}/about.html)
        * [Features](#{landing_pages}/features.html)
        * [Get Started](#{getting_started}/index.html)
  
mixin links-navbar__home
    :markdown
        * [![Navigate](/deploy/assets/icons/navigate.png)](#{home}/navigate.html)
        * [![Home](/deploy/assets/icons/home.png)](#{home}/main-app-view.html)
        * [![Help](/deploy/assets/icons/help.png)](#{help}/index.html)
        * [![User](/deploy/assets/icons/user.png)](#{user}/user.html)
        * [![Logout](/deploy/assets/icons/logout.png)](#{user}/returning-user-login.html)
            
mixin links-navbar__not_logged_in
    :markdown
        * [![Help](/deploy/assets/icons/help.png)](#{help}/index.html)
            
mixin links-home__navigate
    :markdown
      [Attacks & Vulnerabilities](#{home}/attacks-vulnerabilities.html)

      [Principles & Standards](#{home}/principles-standards.html)

      [My Articles](#{home}/my-articles.html)
      
      [My Search Items](#{home}/my-search-items.html)

mixin links_user_pages
    .column-3
      a.action(href='user.html') User
    .column-3
      a.action(href='backend.html') Backend
    .column-3
      a.action(href='developer-utilities.html') Developer Utilities
    .column-3
      a.action(href='other.html') Other
