- var articles        = '/deploy/html/articles'
- var getting_started = '/deploy/html/getting-started'
- var home            = '/deploy/html/home'
- var landing_pages   = '/deploy/html/landing-pages'
- var user            = '/deploy/html/user'

- var link_article_new_window       = articles + '/article-new-window-view.html'
- var link_app_keyword_search       = home     + '/app-keyword-search.html'
- var link_fundamentals_of_security = articles + '/fundamentals-of-security.html'
            
mixin links-navbar__landing-page
    :markdown
        * [About](#{landing_pages}/about.html)
        * [Features](#{landing_pages}/features.html)
        * [Get Started](#{getting_started}/index.html)
  
mixin links-navbar__home
    :markdown
        * [![Navigate](/deploy/assets/icons/navigate.png)](#{home}/navigate.html)
        * [![Home](/deploy/assets/icons/home.png)](#{home}/main-app-view.html)
        * [![Help](/deploy/assets/icons/help.png)](#{landing_pages}/help.html)
        * [![User](/deploy/assets/icons/user.png)](#{user}/user.html)
        * [![Logout](/deploy/assets/icons/logout.png)](/user/logout)
            
mixin links-navbar__not_logged_in
    :markdown
        * [![Help](/deploy/assets/icons/help.png)](#{landing_pages}/help.html)
            
mixin links-home__navigate
    :markdown
      [Attacks & Vulnerabilities](#{home}/attacks-vulnerabilities.html)
      [Principles & Standards](#{home}/principles-standards.html)
      [My Articles](#{home}/my-articles.html)     
      [My Search Items](#{home}/my-search-items.html)

mixin links_user_pages
  .row.text-center
    .column-3
      a.action(href='user.html') User
    .column-3
      a.action(href='backend.html') Backend
    .column-3
      a.action(href='developer-utilities.html') Developer Utilities
    .column-3
      a.action(href='other.html') Other

//- all-pages-links
mixin all-pages-links
  .list-group
    a.list-group-item(href='home/app-keyword-search.html'                                  ) app-keyword-search.html
    a.list-group-item(href='articles/article-new-window-view.html'                         ) article-new-window-view.html
    a.list-group-item(href='home/filters-active.html'                                      ) filters-active.html
    a.list-group-item(href='user/login/forgot-password-completed.html'                     ) forgot-password-completed.html
    a.list-group-item(href='articles/fundamentals-of-security.html'                        ) fundamentals-of-security.html
    a.list-group-item(href='getting-started/new-user-validation.html'                      ) getting-started-new-user-validation.html
    a.list-group-item(href='getting-started/returning-user-forgot-password.html'           ) getting-started-returning-user-forgot-password.html
    a.list-group-item(href='getting-started/returning-user-validation.html'                ) getting-started-returning-user-validation.html
    a.list-group-item(href='getting-started/index.html'                                    ) getting-started.html
    a.list-group-item(href='help/index.html'                                               ) help.html
    a.list-group-item(href='landing-pages/index.html'                                      ) landing-page-index.html
    a.list-group-item(href='landing-pages/about.html'                                      ) landing-page-about.html
    a.list-group-item(href='landing-pages/features.html'                                   ) landing-page-features.html
    a.list-group-item(href='learning-paths/advanced.html'                                  ) learning-path-advanced.html
    a.list-group-item(href='learning-paths/complete.html'                                  ) learning-path-complete.html
    a.list-group-item(href='learning-paths/exploiting.html'                                ) learning-path-exploiting.html
    a.list-group-item(href='learning-paths/prevention.html'                                ) learning-path-prevention.html
    a.list-group-item(href='learning-paths/related-topics.html'                            ) learning-path-related-topics.html
    a.list-group-item(href='learning-paths/sql-injection.html'                             ) learning-path-sql-injection.html
    a.list-group-item(href='learning-paths/testing.html'                                   ) learning-path-testing.html
    a.list-group-item(href='style-guide/index.html'                                        ) style-guide-index.html
    a.list-group-item(href='home/main-app-view.html'                                       ) main-app-view.html
    a.list-group-item(href='articles/my-articles-edit.html'                                ) my-articles-edit.html
    a.list-group-item(href='articles/my-articles.html'                                     ) my-articles.html
    a.list-group-item(href='home/navigate.html'                                            ) navigate.html
    a.list-group-item(href='articles/owasp.html'                                           ) owasp.html
    a.list-group-item(href='home/principles-standards.html'                                ) principles-standards.html
    a.list-group-item(href='user/returning-user-forgot-password.html'                      ) returning-user-forgot-password.html
    a.list-group-item(href='user/login/returning-user-login.html'                          ) returning-user-login.html
    a.list-group-item(href='user/login/returning-user-validation.html'                     ) returning-user-validation.html
    a.list-group-item(href='user/user-add-filter.html'                                     ) user-add-filter.html
    a.list-group-item(href='user/user-edit.html'                                           ) user-edit.html
    a.list-group-item(href='user/user-new-password.html'                                   ) user-new-password.html
    a.list-group-item(href='user/user-remove-filter.html'                                  ) user-remove-filter.html
    a.list-group-item(href='user/user.html'                                                ) user.html

//- git-repo-link
mixin git-repo-link
  .list-group
    a.list-group-item(href='https://github.com/TeamMentor/TM_4_0_Design'                   ) https://github.com/TeamMentor/TM_4_0_Design

mixin links_learning_paths
    a(href='exploiting.html')
      h4 Exploiting Mechanisms
    ul.sidebar
      li 
        a(href='exploiting.html#introduction') Introduction
      li 
        a(href='exploiting.html#sql-injection') SQL Injection
      li 
        a(href='exploiting.html#sql-injection-exploits') SQL Injection Exploits
      li 
        a(href='exploiting.html#three-dangerous-vulns') Three Dangerous Vulnerabilities
    a(href='testing.html')
      h4 Testing
    ul.sidebar
      li 
        a(href='testing.html#advanced-software-testing') Advanced Software Testing
      li 
        a(href='testing.html#fuzz-testing') Fuzz Testing
    a(href='prevention.html')
      h4 Prevention
    ul.sidebar
      li 
        a(href='prevention.html#input-validation') Input Validation
      li 
        a(href='prevention.html#database-countermeasures') Database Countermeasures
      li 
        a(href='prevention.html#information-disclosure') Information Disclosure
    a(href='advanced.html')
      h4 Advanced
    ul.sidebar
      li 
        a(href='advanced.html#oracle-coding') Oracle Database Secure Coding
      li 
        a(href='advanced.html#sql-database-coding') SQL Database Secure Coding
      li 
        a(href='advanced.html#php-coding') PHP Secure Coding
    a(href='related-topics.html')
      h4 Related Topics
