include ../_mixins/user-mixins
//- directory-list
mixin directory-list
    if(containers)
        h3#title= title
        #containers
            table.nav
                each container in containers
                    tr
                        td
                            a(href= href + ',' +container.id, id=container.id)= container.title
                        td.right
                            span.right.badge= container.size

//- search-bar-input
mixin search-bar-input
    #search
        .lge-container
            .row
                .col-offset-3.col-6
                    #search-bar
                        form(action='/search', method='GET')
                            .input-group
                                input.form-control(type='text', placeholder='Type keywords here', name='text')
                                span.input-group-btn
                                    button#search-button(type='submit')
                                        i.fi-magnifying-glass

//- results
mixin results
    #results
        table
            tr
                td
                    if results
                        if results.size() > 250
                            p.label#resultsTitle= 'Showing ' + results.take(250).size() + ' articles (of '  + results.size() + ')'
                        else
                            p.label#resultsTitle= 'Showing ' + results.size() + ' articles'
                td.text-right
                    if activeFilter
                        span#activeFilter.filter= activeFilter.title
                            span.close
                                a(href=href) x
//- articles-list
mixin articles-list
    #articles
        if results
            each result in results.take(250)
                #list-view-article
                    if result
                        table
                            tr
                                td
                                    h4=  result.title
                                td
                                    a(href='/article/' + result.id, id=result.id)
                                        i.fi-plus
                            tr
                                td
                                    p= result.summary + '...'

//- filters
mixin filters-div
    if filters
        #content
            h3 Filter by
            #filters
                for filter in filters
                    h4.label= filter.title
                    table.nav
                        for result in filter.results
                            tr
                                if activeFilter && result.id == activeFilter.id
                                    td
                                        a(href= href )
                                            b= result.title
                                    td
                                        span.right.badge= result.size
                                else
                                    td
                                        a(href=href + '/'+result.id)= result.title
                                    td
                                        span.right.badge= result.size
                    //.dropdown
                        button= filter.title
                            span.right
                                i.fi-arrow-down
                        ul.dropdown-menu
                            table.nav
                                for result in filter.results
                                    if activeFilter && result.id == activeFilter.id
                                        a(href= href )
                                            li
                                                b= result.title
                                                    span.badge= result.size
                                    else
                                        a(href=href + '/'+result.id)
                                            li= result.title
                                                span.badge= result.size

mixin search-poc
    #search-2
        .lge-container
            .row
                .col-9
                    #search-bar
                        form(action='/search', method='GET')
                            .input-group
                                input.form-control(type='text', placeholder='Type keywords here', name='text')
                                span.input-group-btn
                                    button#search-button(type='submit')
                                        i.fi-magnifying-glass