include user-mixins

//- directory-list
mixin directory-list
    #directory-list.bg
        if title
            h3#title= title
        #containers
            if(containers)
                table.nav
                    each container in containers
                        if container.size > 0
                            tr
                                td
                                    if activeFilter
                                        a(href= href + ',' +container.id + '/' + activeFilter.ids, id=container.id)= container.title
                                    else
                                        a(href= href + ',' +container.id , id=container.id)= container.title
                                td
                                    span.right.badge= container.size


//- search-bar-input
mixin search-bar-input
    #search-div
        .lge-container
            .row
                .col-offset-2.col-8
                    #search-input
                        form(action='/search', method='GET')
                            label(for='search-input') Search...
                            .input-group
                                input.form-control(type='text', id='search-input', name='text')
                                button#search-button(type='submit')
                                    +search-icon

mixin search-2
    #search-div-2
        .lge-container
            #search-input
                form(action='/search', method='GET')
                    label(for='search-input') Search...
                    .input-group
                        input.form-control(type='text', name='text', value= text)
                        span.input-group-btn
                            button#search-button(type='submit')
                              span(style='position:relative;left:-40px')
                                +search-icon

//- results
mixin results
    #results
        .mobile.lge-container
            if no_Results
                td
                    p.label#no_results No Results
                    p Please try again
            if results
                if results.size() > 250
                    td
                        p.label#resultsTitle= 'Showing ' + results.take(250).size() + ' articles (of '  + results.size() + ')'
                else
                    td
                        p.label#resultsTitle= 'Showing ' + results.size() + ' articles'
                if activeFilter
                    table
                        for filter in activeFilter
                            tr
                                td
                                    span#activeFilter.filter= filter.title
                                        span.close
                                            a(href=href + '/' + activeFilter.filters.remove(filter.id)) x
        .desktop
            table
                tr
                    if no_Results
                        td
                            p.label#no_results No Results
                            p Please try again
                    td
                        if results
                            if results.size() > 250
                                p.label#resultsTitle= 'Showing ' + results.take(250).size() + ' articles (of '  + results.size() + ')'
                            else
                                p.label#resultsTitle= 'Showing ' + results.size() + ' articles'
                    td.text-right
                        if activeFilter
                            for filter in activeFilter
                                span#activeFilter.filter= filter.title
                                    span.close
                                        a(href=href + '/' + activeFilter.filters.remove(filter.id)) x
                            //span#activeFilter.filter= activeFilter.titles
                                span.close
                                    a(href=href) x

mixin results-2
    #results-2
        +results

//- main-app-view
mixin main-app-view
    #main-app-view
        if (recent_Articles && recent_Articles.size())
            .bg
                #recently-Viewed-Articles
                    h5.label Recently Viewed Articles
                    table.nav
                        for recent_Article in recent_Articles
                          tr
                            td
                                a(href='/article/' + recent_Article.id.remove('article-') + '/' + recent_Article.title.replace(/ /g,'-').remove('.'), id=recent_Article.id)
                                    = recent_Article.title
        if (top_Searches)
            .bg
                #popular-Search-Terms
                    h5.label Popular Search Terms
                    table.nav
                        for top_Search in top_Searches
                            tr
                                td
                                    a(href='/search?text=' + top_Search.title.str().url_Encode())
                                        +search-icon
                                        = top_Search.title
            .bg
                #top-articles
                    h5.label Top Articles
                    table.nav
                        for top_Article in top_Articles
                            tr
                                td
                                    //a(href=top_Article.href)
                                    a(href= top_Article.href.remove('article-') + '/' + top_Article.title.replace(/ /g,'-').remove('.'), id=top_Article.id)
                                        = top_Article.title
        //if (newArticles)
            .bg
                h5.label New Articles
                    table.nav
                        for newArticle in newArticles
                            tr
                                td
                                    a(href=newArticle.href)
                                        +article-icon
                                        = newArticle.title

//- articles-list
mixin articles-list
    #articles
        if results
            each result,index in results.take(250)
                .bg#list-view-article
                    if result
                        table
                            tr
                                td.small
                                    span.label= '#' + (index +1)
                                    br
                                    +filter-icon('Technology',result.technology)
                                    br
                                    +filter-icon('Type', result.type)

                                td
                                    a(href='/article/' + result.id.remove('article-') + '/' + result.title.replace(/ /g,'-').remove('.'), id=result.id)
                                        h4= result.title
                            tr
                                td
                                td
                                    p= result.summary + '...'

//- filters
mixin filters-div
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    span(id='filter-' + filter.title)
                        h4.label= filter.title
                        table.nav
                            for result in filter.results
                                tr
                                    if activeFilter
                                        if activeFilter.ids.contains(result.id)
                                            td
                                                +filter-icon(filter.title, result.title)
                                                b= result.title
                                                span.right.badge= result.size
                                        else
                                            if result.size > 0
                                                td
                                                    a(href=href + '/' + activeFilter.filters + ',' + result.id)
                                                        span
                                                            +filter-icon(filter.title, result.title)
                                                        span= result.title
                                                        span.right.badge= result.size
                                    else
                                        td
                                            a(href=href + '/'+result.id)
                                                span
                                                    +filter-icon(filter.title, result.title)
                                                span= result.title
                                                span.right.badge= result.size