include ../_mixins/user-mixins
//- directory-list
mixin directory-list
    .bg
        if title
            h3#title= title
        #containers
            if(containers)
                table.nav
                    each container in containers
                        tr
                            td
                                a(href= href + ',' +container.id, id=container.id)= container.title
                            td
                                span.right.badge= container.size

//- search-bar-input
mixin search-bar-input
    #search-div
        .lge-container
            .row
                .col-offset-2.col-8
                    #search-input
                        form(action='/search', method='GET')
                            label(for='search-input') Search here
                            .input-group
                                input.form-control(type='text', id='search-input', name='text')
                                span.input-group-btn
                                    button#search-button(type='submit')
                                        +search-icon

mixin search-poc
    #search-div-2
        .lge-container
            #search-input
                form(action='/search', method='GET')
                    label(for='search-input') Search here
                    .input-group
                        input.form-control(type='text', name='text', value= text)
                        span.input-group-btn
                            button#search-button(type='submit')
                                +search-icon

//- results
mixin results
    #results
        table
            tr
                if no_Results
                    td
                        p.label#no_results No Results
                        p Please try again
                td
                    if results
                        if results.size() > 250
                            p.label#resultsTitle= 'Showing ' + results.take(250).size() + ' articles (of '  + results.size() + ')'
                        else
                            p.label#resultsTitle= 'Showing ' + results.size() + ' articles'
                td.text-right
                    if activeFilter
                        span#activeFilter.filter= activeFilter.title
                            span.close
                                a(href=href) x

mixin results-2
    #results-2
        +results

//- main-app-view
mixin main-app-view
    #main-app-view
        if (recent_Articles && recent_Articles.values().not_Empty())
            .bg
                #recently-Viewed-Articles
                    h5 Recently Viewed Articles
                    table.nav
                        for recent_Article in recent_Articles
                          tr
                            td
                                a(href='/article/' + recent_Article.id)
                                    +article-icon
                                    = recent_Article.title

        //if (recent_Searches && recent_Searches.values().not_Empty())
            .bg
                #recent-Searches
                    h4.label Recent Searches
                    table.nav
                        for recent_Search in recent_Searches
                            tr
                                td
                                    a(href='/search?text=' + recent_Search)
                                        +search-icon
                                        = recent_Search
        if (top_Searches)
            .bg
                #popular-Search-Terms
                    h5 Popular Search Terms
                    table.nav
                        for top_Search in top_Searches
                            tr
                                td
                                    a(href='/search?text=' + top_Search.title)
                                        +article-icon
                                        = top_Search.title
            .bg
                #top-articles
                    h5 Top Articles
                    table.nav
                        for top_Article in top_Articles
                            tr
                                td
                                    a(href=top_Article.href)
                                        +article-icon
                                        = top_Article.title
        //if (newArticles)
            .bg
                h4.label New Articles
                    table.nav
                        for newArticle in newArticles
                            tr
                                td
                                    a(href=newArticle.href)
                                        +article-icon
                                        = newArticle.title

//- articles-list
mixin articles-list
    #articles
        if results
            each result in results.take(250)
                #list-view-article
                    if result
                        table
                            tr
                                td
                                    a(href='/article/' + result.id, id=result.id)
                                        h4=  result.title
                            tr
                                td
                                    p= result.summary + '...'

//- filters
mixin filters-div
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    h4.label= filter.title
                    table.nav
                        for result in filter.results
                            tr
                                if activeFilter && result.id == activeFilter.id
                                    td
                                        a(href= href )
                                            b= result.title
                                            span.right.badge= result.size
                                else
                                    td
                                        a(href=href + '/'+result.id)= result.title
                                            span.right.badge= result.size

mixin filters-div-2
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    h4.label= filter.title
                    ul.side-nav
                        for result in filter.results
                            if activeFilter && result.id == activeFilter.id
                                a(href= href )
                                    li
                                        b= result.title
                                        span.right.badge= result.size
                            else
                                a(href=href + '/'+result.id)
                                    li
                                        = result.title
                                        span.right.badge= result.size