mixin login-form
	h3 Login
	include:md ../../content/getting-started/login-form.md
	form#login-form(role='form' method='post' action='/user/login')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(type='text' name='username' placeholder='Username')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(type='password' name='password' placeholder='Password')
		button(type='submit', id='btn-login') Login
		br
		br
		a(href='/guest/pwd-forgot.html')
			button(type='button', id='btn-forgot-pwd') Forgot your password?

//- user-details-form
mixin user-details-form
	form(role='form', action='user.html')
		.form-group
			label(for='user-name') Name
			input.form-control(type='text', id='user-name', placeholder='Name')
		.form-group
			label(for='user-email') Email Address
			input.form-control(type='email', id='user-email', placeholder='Email Address')
		.form-group
			label(for='user-title') Title
			input.form-control(type='text', id='user-title', placeholder='Title')
		.form-group
			label(for='user-company') Company
			input.form-control(type='text', id='user-company', placeholder='Company')
		.form-group
			label(for='user-state') State
			input.form-control(type='text', id='user-state', placeholder='State')
		.form-group
			label(for='user-country') Country
			input.form-control(type='text', id='user-country', placeholder='Country')
		.form-group
			label(for='user-group-id') Group ID
			input.form-control(type='text', id='user-group-id', placeholder='Group ID')
		button(type='submit')
			| Ok, Done

//- new-password-form
mixin new-password-form
	form(role='form', action='user.html')
		.form-group
			label(for='user-current-password') Current Password
			input.form-control(type='user-current-password', id='user-current-password', placeholder='Current Password')
		.form-group
			label(for='user-new-password') New Password
			input.form-control(type='user-new-password', id='user-new-password', placeholder='New Password')
		.form-group
			label(for='user-confirm-new-password') Confirm New Password
			input.form-control(type='user-confirm-new-password', id='user-confirm-new-password', placeholder='Confirm New Password')
		button(type='submit') Save

//- sign-up-form
mixin sign-up-form
	h3 Sign Up
	include:md ../../content/getting-started/sign-up-form.md
	form#sign-up-form(role='form', method='POST', action='/user/sign-up')
		.form-group
			label(for='new-user-username') Username
			input#new-user-username.form-control(name='username', type='text', placeholder='Username')
		.form-group
			label(for='new-user-password') Password
			input#new-user-password.form-control(name='password', type='password', placeholder='Password')
		.form-group
			label(for='new-user-confirm-password') Confirm Password
			input#new-user-confirm-password.form-control(name='password-confirm', type='password', placeholder='Confirm Password')
		.form-group
			label(for='new-user-email') Email Address
			input#new-user-email.form-control(name='email', type='email', placeholder='Email Address')
		button#btn-sign-up(type='submit') Sign Up


//- forgot-password-form
mixin forgot-password-form
	:markdown
		### Forgot your password?
		Too easy - just type in your email address and we'll send you an email with further instructions.
	form#forgot-password(role='form', action='/user/pwd_reset' method='post')
		.form-group
			label(for='email') Email Address
			input#email.form-control(type='email', name='email' placeholder='Email Address')
		button#btn-get-password(type='submit') Get password


//- forgot-password-button
mixin forgot-password-button
	form(role='form', action='returning-user-forgot-password.html', method='get')
		button#btn-forgot-pwd(type='submit') Forgot your password?


//- TEAM Mentor Summary
mixin team-mentor-summary
	#summary
		include:md ../../content/getting-started/login-wall-summary.md
		table
			tr
				td.text-center.icons-green
					i.fi-page-edit
				td
					include:md ../../content/landing-pages/selling-point-1.md
			tr
				td.text-center.icons-green
					i.fi-arrows-in
				td
					include:md ../../content/landing-pages/selling-point-2.md
			tr
				td.text-center.icons-green
					i.fi-checkbox
				td
					include:md ../../content/landing-pages/selling-point-3.md

mixin alert-login-failed
	.alert(role='alert')
		| Error Logging In : #{errorMessage}

mixin alert-please-login
	.alert(role='alert')
		| You need to login to see that page.

mixin alert-pwd-sent
	.alert(role='alert')
		| We've sent you an email with instructions for resetting your password.

mixin alert-sign-up-failed
	.alert(role='alert')
		| Error Signing In : #{errorMessage}

mixin alert-sign-up-OK
	.alert(role='alert')
		| Thanks for signing up to TEAM Mentor. Please login to access our libraries.


//- main-app-view
mixin main-app-view
	//#recentlyViewedArticles
		h4 Recently Viewed Articles
		.list-group
			a(href='#')
				| Test
				span.badge 12
			a(href='#')
				| Test
				span.badge 12
			a(href='#')
				| Test
				span.badge 12
			a(href='#')
				| Test
				span.badge 12
			a(href='#')
				| Test
				span.badge 12
			a(href='#')
				| Test
				span.badge 12
				//if (recentArticles)
						for recentArticle in recentArticles
								a(href=recentArticle.href, target='_blank')= recentArticle.title
	//h4 Popular Search Terms
	//.list-group
		a(href='#')
			| Testing a longer title for bugs Testing a longer title for bugs
			span.badge 12
		a(href='#')
			| Testing a longer title for bugs Testing a longer title for bugs
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
			//if (searchTerms)
					for searchTerm in searchTerms
							a(href=searchTerm.href)= searchTerm.title
	//h4 Top Articles
	//.list-group
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12

	//h4 New Articles
	//.list-group
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
		a(href='#')
			| Test
			span.badge 12
	#recentlyViewedArticles
		h4 Recently Viewed Articles
		.list-group
			if (recentArticles)
				for recentArticle in recentArticles
					a(href=recentArticle.href, target='_blank')= recentArticle.title
	h4 Popular Search Terms
	.list-group
		if (searchTerms)
			for searchTerm in searchTerms
				a(href=searchTerm.href)= searchTerm.title
	h4 Top Articles
	.list-group
		if (topArticles)
			for article in topArticles
				if article
					a(href=article.href, target='_blank')= article.title
						span.badge= article.weight
	//h4 New Articles
	//.list-group
		if (newArticles)
			for newArticle in newArticles
				a(href=newArticle.href, target='_blank')= newArticle.title