extends ../_layouts/page
block content
  #application
    .row
      .col-12
        .lge-container
          .bg
            h2= title
            if session_Data
              table
                tr
                  th _id
                  th sid
                  th cookie
                  th username
                  th recent articles
                  th user Searches
                  //th data
                for item in session_Data
                  tr
                    td= item._id
                    td= item.sid
                    td
                      pre= item.data.cookie.json_Pretty()
                    td= item.data.username
                    if item.data.recent_Articles
                        td
                          pre= item.data.recent_Articles.json_Pretty()
                      if item.data.user_Searches
                          td
                              pre= item.data.user_Searches.json_Pretty()


