extends ../_layouts/page
block content
  #application
    .row
      .col-12
        .lge-container
          .bg
            h2= title
            if session_Data
              table.data
                tr
                  th _ID
                  th SID
                  th Cookie
                  th Username
                  th Recent Articles
                  th User Searches
                for item in session_Data
                  tr
                    td= item._id
                    td= item.sid
                    td
                      pre= item.data.cookie.json_Pretty()
                    td= item.data.username
                    td
                      if item.data.recent_Articles
                        pre= item.data.recent_Articles.json_Pretty()
                    td
                      if item.data.user_Searches
                        pre= item.data.user_Searches.json_Pretty()


