extends ../_layouts/page
block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            h2= title
            pre= user_Data.json_Pretty()
            if user_Searches
              table
                tr
                  th title
                  th results size
                  th id
                  th username

                for item in user_Searches
                  tr
                    td
                      a(href='/search?text=' + item.title)= item.title
                    td= item.results
                    td= item.id
                    td= item.username


