extends ../_layouts/page
block content
  #application
    .row
      .col-2
        .lge-container
      .col-8
        .lge-container
          .bg
            h2= title
            if users_Searches
              table.data
                thead
                  tr
                    th Title
                    th Results size
                    th ID
                    th Username

                for item in users_Searches
                  tr
                    td
                      a(href='/search?text=' + item.title)= item.title
                    td= item.results
                    td= item.id
                    td= item.username


