//- Breadcrumbs
mixin breadcrumbs
  if breadcrumbs && breadcrumbs.size() > 1
    dl.sub-nav
      #navigation
        for item,index in breadcrumbs
          if index == breadcrumbs.size() -1
            dd.active
              a(href= item.href)= item.title
          else
            dd
              if activeFilter
                a(href= item.href + '/' + activeFilter.ids)= item.title
              else
                a(href= item.href)= item.title

//- Form Inputs
mixin username-input
  label(for='username') Username
  input(type='text', id='username', name='username', placeholder='Username',value='#{viewModel?viewModel.username:""}',required,maxlength='256')

mixin password-input
  label(for='password') Password
  input(type='password', id='password', name='password', placeholder='Password',value='#{viewModel?viewModel.password:""}',required,maxlength='256')

mixin confirm-password-input
  label(for='confirm-password') Confirm Password
  input(type='password', id='confirm-password', name='confirm-password',placeholder='Password',value='#{viewModel?viewModel.confirmpassword:""}',maxlength='256')

mixin email-input
  label(for='email') Email Address
  input(type='email', id='email', name='email', placeholder='Email Address',value='#{viewModel?viewModel.email:""}',maxlength='256')

//- Form Buttons
mixin login-button
  button.full-width(type='submit', id='btn-login') Login

mixin sign-up-button
  button.full-width(type='submit', id='btn-sign-up') Sign Up

mixin get-password-button
  button.full-width(type='submit' id='btn-get-password') Get Password

mixin reset-password-button
  button.full-width(type='submit' id='btn-reset-password') Reset Password

mixin start-trial-button
  button
    span Start your free trial today

mixin see-for-yourself-button
  button
    span See for yourself

mixin search-icon
  span.icon-Search(title='Search')
    span.path1
    span.path2
    span.path3

mixin index-icon
  span.icon-Index(title='Index')

mixin info-icon
  span.icon-Info(title='Info')

mixin logout-icon
  span.icon-Logout(title='Logout')

mixin mail-icon
  span.icon-Mail(title='Mail')

mixin twitter-icon
  span.icon-Twitter(title='Twitter')

mixin paperclip-icon
  span.icon-Paperclip(title='Terms & Conditions')

mixin php-icon
  span.icon-PHP(title='PHP')
    span.path1
    span.path2

mixin scala-icon
  span.icon-Scala(title='Scala')
      span.path1
      span.path2

mixin vulnerabilities-icon
  span.icon-Vulnerabilities(title='Vulnerabilities')
    span.path1
    span.path2

mixin wcf-icon
  span.icon-WCF(title='WCF')
    span.path1
    span.path2

mixin web-app-icon
  span.icon-Web-App(title='Web Application')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9
    span.path10
    span.path11

mixin net-icon
  span.icon-Net(title='.Net')
    span.path1
    span.path2

mixin net-3-5-icon
  span.icon-Net-3-5(title='.Net')
    span.path1
    span.path2

mixin ios-icon
  span.icon-iOS(title='iOS')
    span.path1
    span.path2
    span.path3

mixin java-icon
  span.icon-Java(title='Java')
    span.path1
    span.path2

mixin all-icon
  span.icon-All(title='Technology Independant')
    span.path1
    span.path2

mixin android-icon
  span.icon-Android(title='Android')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5

mixin c-icon
  span.icon-C(title='C++')
    span.path1
    span.path2

mixin checklist-icon
  span.icon-Checklist(title='Checklist')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5

mixin code-example-icon
  span.icon-CodeExample(title='Code Example')
    span.path1
    span.path2
    span.path3
    span.path4
    span.path5
    span.path6
    span.path7
    span.path8
    span.path9

mixin guideline-icon
  span.icon-Guideline(title='Guideline')
    span.path1
    span.path2

mixin principle-icon
  span.icon-Principle(title='Principle')
    span.path1
    span.path2

mixin how-to-icon
  span.icon-HowTo(title='How To')
    span.path1
    span.path2

mixin html5-icon
  span.icon-HTML5(title='HTML5')
    span.path1
    span.path2

mixin deploy-icon
  span.icon-Deploy(title='Deployment')
    span.path1
    span.path2

mixin design-icon
  span.icon-Design(title='Design')
    span.path1
    span.path2
    span.path3
    span.path4

mixin implement-icon
  span.icon-Implementation(title='Implementation')
    span.path1
    span.path2
    span.path3

mixin test-icon
  span.icon-Test(title='Test')
    span.path1
    span.path2

mixin article-icon
  span.icon-Article(title='Article')

mixin filters-icon
  span.icon-Filter(title='Filter')

mixin delete-icon
  span.icon-Delete(title='Delete')

mixin default-icon
  span.icon-Default(title='Default')
    span.path1
    span.path2

mixin save-icon
  span.icon-Save(title='Save')

mixin share-icon
  span.icon-Share(title='Share')

mixin filter-icon(filter, title)
  span#filter-icon
    case filter
      when 'Type'
        case title
          when 'Checklist Item'
            +checklist-icon
          when 'Guideline'
            +guideline-icon
          when 'Code Example'
            +code-example-icon
          when 'How To'
            +how-to-icon
          when 'Vulnerability'
            +vulnerabilities-icon
          when 'Principle'
            +principle-icon
          default
            +default-icon

      when 'Technology'
        case title
          when '.NET'
          when 'ASP.NET 3.5'
          when 'ASP.NET 4.0'
            +net-icon
          when '.NET 3.5'
            +net-3-5-icon
          when 'Android'
            +android-icon
          when 'C++'
            +c-icon
          when 'iOS'
            +ios-icon
          when 'Java'
            +java-icon
          when 'PHP'
            +php-icon
          when 'Scala Play'
          when 'Scala with Play Framework'
            +scala-icon
          when 'WCF'
          when 'WCF 3.5'
            +wcf-icon
          when 'Web Application'
            +web-app-icon
          when 'HTML5'
            +html5-icon
          default
            +all-icon

      when 'Phase'
        case title
          when 'Deployment'
            +deploy-icon
          when 'Design'
            +design-icon
          when 'Implementation'
            +implement-icon
          when 'Test'
            +test-icon