extends ../_layouts/page_home.jade
block content  
    #application
    .row
        .lge-container
          .col-sm-3
          .col-sm-6
            .row
              .col-lg-12
                .input-group
                  input#search-bar.form-control(type='text', placeholder='Type keywords here')
                  span.input-group-btn
                    button#search-button.btn.btn-application(type='button')
                      span.glyphicon.glyphicon-search
                  span.input-group-btn
                    button#filters-button.btn.btn-application(type='button')
                      span.glyphicon.glyphicon-filter

                //input-group
                br
                br
                h4.light-grey
                    | 0/200 results showing
                .list-group
                  a.list-group-item(href='#{link_article_new_window}')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
                  br
                  a.list-group-item(href='#{link_article_new_window}')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
                  br
                  a.list-group-item(href='#{link_article_new_window}')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
                  a.list-group-item(href='#{link_article_new_window}')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
                  br
                  a.list-group-item(href='#{link_article_new_window}l')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.
                  br
                  a.list-group-item(href='#{link_article_new_window}')
                    h5.list-group-item-heading.grey Related Article Headline
                    p.list-group-item-text
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et erat eu nibh interdum euismod at eget diam. Morbi pulvinar lorem vitae venenatis rutrum. Aliquam quis sem vel odio tristique dignissim sagittis sed massa. Pellentesque nibh arcu, laoreet sed varius sed, scelerisque in elit.

          .col-sm-3
            #filters
              h3.light-grey Filters
              form(role='form', action='filters-active.html')
                .form-group
                  h5.green Technology
                  ul.list-group
                    li.list-group-item
                      input#technology_1(type='checkbox')
                      label(for='#technology_1', type='checkbox') Option #1
                        span.badge 14 
                    li.list-group-item
                      input#technology_2(type='checkbox')
                      label(for='#technology_2', type='checkbox') Option #2
                        span.badge 14 
                    li.list-group-item
                      input#technology_3(type='checkbox')
                      label(for='#technology_3', type='checkbox') Option #3
                        span.badge 14 
                    li.list-group-item
                      input#technology_4(type='checkbox')
                      label(for='#technology_4', type='checkbox') Option #4
                        span.badge 14 
                    li.list-group-item
                      input#technology_5(type='checkbox')
                      label(for='#technology_5', type='checkbox') Option #5
                        span.badge 14 
                .form-group
                  h5.green Category
                  ul.list-group
                    li.list-group-item
                      input#category_1(type='checkbox')
                      label(for='#category_1', type='checkbox') Option #1
                        span.badge 14 
                    li.list-group-item
                      input#category_2(type='checkbox')
                      label(for='#category_2', type='checkbox') Option #2
                        span.badge 14
                    li.list-group-item
                      input#category_3(type='checkbox')
                      label(for='#category_3', type='checkbox') Option #3
                        span.badge 14
                    li.list-group-item
                      input#category_4(type='checkbox')
                      label(for='#category_4', type='checkbox') Option #4
                        span.badge 14
                    li.list-group-item
                      input#category_5(type='checkbox')
                      label(for='#category_5', type='checkbox') Option #5
                        span.badge 14
                .form-group
                  h5.green Phase
                  ul.list-group
                    li.list-group-item
                      input#phase_1(type='checkbox')
                      label(for='#phase_1', type='checkbox') Option #1
                        span.badge 14
                    li.list-group-item
                      input#phase_2(type='checkbox')
                      label(for='#phase_2', type='checkbox') Option #2
                        span.badge 14
                    li.list-group-item
                      input#phase_3(type='checkbox')
                      label(for='#phase_3', type='checkbox') Option #3
                        span.badge 14
                    li.list-group-item
                      input#phase_4(type='checkbox')
                      label(for='#phase_4', type='checkbox') Option #4
                        span.badge 14
                    li.list-group-item
                      input#phase_5(type='checkbox')
                      label(for='#phase_5', type='checkbox') Option #5
                        span.badge 14
                .form-group
                  h5.green Type
                  ul.list-group
                    li.list-group-item
                      input#type_1(type='checkbox')
                      label(for='#type_1', type='checkbox') Option #1
                        span.badge 14
                    li.list-group-item
                      input#type_2(type='checkbox')
                      label(for='#type_2', type='checkbox') Option #2
                        span.badge 14
                    li.list-group-item
                      input#type_3(type='checkbox')
                      label(for='#type_3', type='checkbox') Option #3
                        span.badge 14
                    li.list-group-item
                      input#type_4(type='checkbox')
                      label(for='#type_4', type='checkbox') Option #4
                        span.badge 14
                    li.list-group-item
                      input#type_5(type='checkbox')
                      label(for='#type_5', type='checkbox') Option #5
                        span.badge 14
                button.btn-action.btn-block(type='submit')
                  | Ok, Done
                  span.glyphicon.glyphicon-ok.glyphicon-small

            //filters
            #save
              h3.light-grey Save to Dashboard
              br
              form(role='form')
                .form-group
                  label(for='nickname') Give it a nickname
                  input#nickname.form-control(type='text', placeholder='Nickname')
                button.btn-action.btn-block(type='submit')
                  | Ok, Done
                  span.glyphicon.glyphicon-ok.glyphicon-small
