extends ../../content/_layouts/page_home.jade
block content
    #application
      .row
        .col-3
          .lge-container
            +links-home__navigate               
        .col-9
          .lge-container
            .col-4
              .list-group
                a(href='#{link_fundamentals_of_security}') CSRF
                a(href='#{link_fundamentals_of_security}') Path Traversal
                a(href='#{link_fundamentals_of_security}') Download of code without integrity check
                a(href='#{link_fundamentals_of_security}') Incorrect Authorization
                a(href='#{link_fundamentals_of_security}') Inclusion of Functionality
                a(href='#{link_fundamentals_of_security}') Access Permissions Misconfiguration
                a(href='#{link_fundamentals_of_security}') Use of Unsafe Functions
                a(href='#{link_fundamentals_of_security}') Weak Cryptographic Functions
                a(href='#{link_fundamentals_of_security}') Incorrect Calculation of Buffer Size
                a(href='#{link_fundamentals_of_security}') Open Redirect
                a(href='#{link_fundamentals_of_security}') Uncontrolled String Format
                a(href='#{link_fundamentals_of_security}') Hashing without Salt
                a(href='#{link_fundamentals_of_security}') Top iOS Threats          
            .col-4              
            .col-4