extends ../_layouts/page_home.jade
block content
    #application.lge-container
      .row
        .column-3
          h3
            +links-home__navigate               
        .column-9
          .column-4
            .list-group
              a.list-group-item(href='#{link_fundamentals_of_security}') CSRF
              a.list-group-item(href='#{link_fundamentals_of_security}') Path Traversal
              a.list-group-item(href='#{link_fundamentals_of_security}') Download of code without integrity check
              a.list-group-item(href='#{link_fundamentals_of_security}') Incorrect Authorization
              a.list-group-item(href='#{link_fundamentals_of_security}') Inclusion of Functionality
              a.list-group-item(href='#{link_fundamentals_of_security}') Access Permissions Misconfiguration
              a.list-group-item(href='#{link_fundamentals_of_security}') Use of Unsafe Functions
              a.list-group-item(href='#{link_fundamentals_of_security}') Weak Cryptographic Functions
              a.list-group-item(href='#{link_fundamentals_of_security}') Incorrect Calculation of Buffer Size
              a.list-group-item(href='#{link_fundamentals_of_security}') Open Redirect
              a.list-group-item(href='#{link_fundamentals_of_security}') Uncontrolled String Format
              a.list-group-item(href='#{link_fundamentals_of_security}') Hashing without Salt
              a.list-group-item(href='#{link_fundamentals_of_security}') Top iOS Threats          
          .column-4              
          .column-4