extends ../_layouts/page_home.jade

block content  
    #application
          .row
            .lge-container
                .col-sm-3
                .col-sm-6
                  .row
                    .col-lg-12
                      .input-group
                        input#search-bar.form-control(type='text', placeholder='Type keywords here')
                        span.input-group-btn
                          button#search-button.btn.btn-application(type='button')
                            span.glyphicon.glyphicon-search
                        span.input-group-btn
                          button#filters-button.btn.btn-application(type='button')
                            span.glyphicon.glyphicon-filter
                      br
                      br
                      h4.grey Recently Viewed Articles
                      .list-group
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Cras justo odio                             
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Morbi leo risus
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Vestibulum at eros
                      h4.grey Popular Search Terms
                      .list-group
                        a.list-group-item(href='#{link_app_keyword_search}') Cras justo odio
                        a.list-group-item(href='#{link_app_keyword_search}') Dapibus ac facilisis in
                        a.list-group-item(href='#{link_app_keyword_search}') Morbi leo risus
                        a.list-group-item(href='#{link_app_keyword_search}') Porta ac consectetur ac
                        a.list-group-item(href='#{link_app_keyword_search}') Vestibulum at eros
                      h4.grey Top Articles
                      .list-group
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Cras justo odio                             
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Morbi leo risus
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Vestibulum at eros                      
                      h4.grey New Articles
                      .list-group
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Cras justo odio                             
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Dapibus ac facilisis in
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Morbi leo risus
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Porta ac consectetur ac
                        a.list-group-item(href='#{link_article_new_window}', target='_blank') Vestibulum at eros                   
                .col-sm-3
                  #filters
                    h3.light-grey Filters
                    form(role='form', action='filters-active.html')
                      .form-group
                        h5.green Technology
                        ul.list-group
                          li.list-group-item
                            input#technology_1(type='checkbox')
                            label(for='#technology_1', type='checkbox') Option #1
                              span.badge 14 
                          li.list-group-item
                            input#technology_2(type='checkbox')
                            label(for='#technology_2', type='checkbox') Option #2
                              span.badge 14 
                          li.list-group-item
                            input#technology_3(type='checkbox')
                            label(for='#technology_3', type='checkbox') Option #3
                              span.badge 14 
                          li.list-group-item
                            input#technology_4(type='checkbox')
                            label(for='#technology_4', type='checkbox') Option #4
                              span.badge 14 
                          li.list-group-item
                            input#technology_5(type='checkbox')
                            label(for='#technology_5', type='checkbox') Option #5
                              span.badge 14 
                      .form-group
                        h5.green Category
                        ul.list-group
                          li.list-group-item
                            input#category_1(type='checkbox')
                            label(for='#category_1', type='checkbox') Option #1
                              span.badge 14 
                          li.list-group-item
                            input#category_2(type='checkbox')
                            label(for='#category_2', type='checkbox') Option #2
                              span.badge 14
                          li.list-group-item
                            input#category_3(type='checkbox')
                            label(for='#category_3', type='checkbox') Option #3
                              span.badge 14
                          li.list-group-item
                            input#category_4(type='checkbox')
                            label(for='#category_4', type='checkbox') Option #4
                              span.badge 14
                          li.list-group-item
                            input#category_5(type='checkbox')
                            label(for='#category_5', type='checkbox') Option #5
                              span.badge 14
                      .form-group
                        h5.green Phase
                        ul.list-group
                          li.list-group-item
                            input#phase_1(type='checkbox')
                            label(for='#phase_1', type='checkbox') Option #1
                              span.badge 14
                          li.list-group-item
                            input#phase_2(type='checkbox')
                            label(for='#phase_2', type='checkbox') Option #2
                              span.badge 14
                          li.list-group-item
                            input#phase_3(type='checkbox')
                            label(for='#phase_3', type='checkbox') Option #3
                              span.badge 14
                          li.list-group-item
                            input#phase_4(type='checkbox')
                            label(for='#phase_4', type='checkbox') Option #4
                              span.badge 14
                          li.list-group-item
                            input#phase_5(type='checkbox')
                            label(for='#phase_5', type='checkbox') Option #5
                              span.badge 14
                      .form-group
                        h5.green Type
                        ul.list-group
                          li.list-group-item
                            input#type_1(type='checkbox')
                            label(for='#type_1', type='checkbox') Option #1
                              span.badge 14
                          li.list-group-item
                            input#type_2(type='checkbox')
                            label(for='#type_2', type='checkbox') Option #2
                              span.badge 14
                          li.list-group-item
                            input#type_3(type='checkbox')
                            label(for='#type_3', type='checkbox') Option #3
                              span.badge 14
                          li.list-group-item
                            input#type_4(type='checkbox')
                            label(for='#type_4', type='checkbox') Option #4
                              span.badge 14
                          li.list-group-item
                            input#type_5(type='checkbox')
                            label(for='#type_5', type='checkbox') Option #5
                              span.badge 14
                      button.btn-action.btn-block(type='submit')
                        | Ok, Done
                        span.glyphicon.glyphicon-ok.glyphicon-small
                  //
                     /filters
                  #save
                    h3.light-grey Save to Dashboard
                    br
                    form(role='form')
                      .form-group
                        label(for='nickname') Give it a nickname
                        input#nickname.form-control(type='text', placeholder='Nickname')
                      button.btn-action.btn-block(type='submit')
                        | Ok, Done
                        span.glyphicon.glyphicon-ok.glyphicon-small
                  //
                     /save
                  br
                  br
                //
                   /col-sm-3
              //
                 /row for columns
            //
               /application div
