extends ../../content/_layouts/page_home.jade
block content
    #application.lge-container
      .row
        .col-3
            .lge-container
                +links-home__navigate 
        .col-9
            .lge-container
              .row
                .col-4
                  .list-group
                    a(href='#{link_fundamentals_of_security}') Fundamentals of Security
                    a(href='#{link_fundamentals_of_security}') PCI DSS Code Review
                    a(href='#{link_fundamentals_of_security}') PCI DSS Compiance
                    a(href='#{link_fundamentals_of_security}') Security Engineering
                    a(href='#{link_fundamentals_of_security}') Top 5 Rich Client Vulnerabilites
                    a(href='#{link_fundamentals_of_security}') Top 5 Web Service Reviews
                    a(href='#{link_fundamentals_of_security}') Top Android Threats
                    a(href='#{link_fundamentals_of_security}') Server-sent Events
                    a(href='#{link_fundamentals_of_security}') Web Sockets
                    a(href='#{link_fundamentals_of_security}') CORS
                    a(href='#{link_fundamentals_of_security}') Web Messaging
                    a(href='#{link_fundamentals_of_security}') Web Storage
                    a(href='#{link_fundamentals_of_security}') Web Workers
                .col-4
                  .list-group
                    a(href='#{link_fundamentals_of_security}') HTTP Headers
                    a(href='#{link_fundamentals_of_security}') Server-side Security
                    a(href='#{link_fundamentals_of_security}') SQL Injection
                    a(href='#{link_fundamentals_of_security}') OS Command Injection
                    a(href='#{link_fundamentals_of_security}') Buffer Overflow
                    a(href='#{link_fundamentals_of_security}') XSS
                    a(href='#{link_fundamentals_of_security}') Missing Authentication
                    a(href='#{link_fundamentals_of_security}') Missing Authorization
                    a(href='#{link_fundamentals_of_security}') Hard-coded Credentials
                    a(href='#{link_fundamentals_of_security}') Missing Encryption
                    a(href='#{link_fundamentals_of_security}') Unrestricted Dangerous Uploads
                    a(href='#{link_fundamentals_of_security}') Using Untrusted Inputs
                    a(href='#{link_fundamentals_of_security}') Execution with Unnecessary Privliges
                .col-4
                  .list-group
                    a(href='#{link_fundamentals_of_security}') CSRF
                    a(href='#{link_fundamentals_of_security}') Path Traversal
                    a(href='#{link_fundamentals_of_security}') Download of code without integrity check
                    a(href='#{link_fundamentals_of_security}') Incorrect Authorization
                    a(href='#{link_fundamentals_of_security}') Inclusion of Functionality
                    a(href='#{link_fundamentals_of_security}') Access Permissions Misconfiguration
                    a(href='#{link_fundamentals_of_security}') Use of Unsafe Functions
                    a(href='#{link_fundamentals_of_security}') Weak Cryptographic Functions
                    a(href='#{link_fundamentals_of_security}') Incorrect Calculation of Buffer Size
                    a(href='#{link_fundamentals_of_security}') Open Redirect
                    a(href='#{link_fundamentals_of_security}') Uncontrolled String Format
                    a(href='#{link_fundamentals_of_security}') Hashing without Salt
                    a(href='#{link_fundamentals_of_security}') Top iOS Threats
            //col-sm-9 
            //lge-container 
          //row for columns 
        //application div 
