extends ../_layouts/page_home.jade
block content
    #application.lge-container
      .row
        .column-3
          h3
            +links-home__navigate 
        .column-9
          .row
            .column-4
              .list-group
                a.list-group-item(href='#{link_fundamentals_of_security}') Fundamentals of Security
                a.list-group-item(href='#{link_fundamentals_of_security}') PCI DSS Code Review
                a.list-group-item(href='#{link_fundamentals_of_security}') PCI DSS Compiance
                a.list-group-item(href='#{link_fundamentals_of_security}') Security Engineering
                a.list-group-item(href='#{link_fundamentals_of_security}') Top 5 Rich Client Vulnerabilites
                a.list-group-item(href='#{link_fundamentals_of_security}') Top 5 Web Service Reviews
                a.list-group-item(href='#{link_fundamentals_of_security}') Top Android Threats
                a.list-group-item(href='#{link_fundamentals_of_security}') Server-sent Events
                a.list-group-item(href='#{link_fundamentals_of_security}') Web Sockets
                a.list-group-item(href='#{link_fundamentals_of_security}') CORS
                a.list-group-item(href='#{link_fundamentals_of_security}') Web Messaging
                a.list-group-item(href='#{link_fundamentals_of_security}') Web Storage
                a.list-group-item(href='#{link_fundamentals_of_security}') Web Workers
            .column-4
              .list-group
                a.list-group-item(href='#{link_fundamentals_of_security}') HTTP Headers
                a.list-group-item(href='#{link_fundamentals_of_security}') Server-side Security
                a.list-group-item(href='#{link_fundamentals_of_security}') SQL Injection
                a.list-group-item(href='#{link_fundamentals_of_security}') OS Command Injection
                a.list-group-item(href='#{link_fundamentals_of_security}') Buffer Overflow
                a.list-group-item(href='#{link_fundamentals_of_security}') XSS
                a.list-group-item(href='#{link_fundamentals_of_security}') Missing Authentication
                a.list-group-item(href='#{link_fundamentals_of_security}') Missing Authorization
                a.list-group-item(href='#{link_fundamentals_of_security}') Hard-coded Credentials
                a.list-group-item(href='#{link_fundamentals_of_security}') Missing Encryption
                a.list-group-item(href='#{link_fundamentals_of_security}') Unrestricted Dangerous Uploads
                a.list-group-item(href='#{link_fundamentals_of_security}') Using Untrusted Inputs
                a.list-group-item(href='#{link_fundamentals_of_security}') Execution with Unnecessary Privliges
            .column-4
              .list-group
                a.list-group-item(href='#{link_fundamentals_of_security}') CSRF
                a.list-group-item(href='#{link_fundamentals_of_security}') Path Traversal
                a.list-group-item(href='#{link_fundamentals_of_security}') Download of code without integrity check
                a.list-group-item(href='#{link_fundamentals_of_security}') Incorrect Authorization
                a.list-group-item(href='#{link_fundamentals_of_security}') Inclusion of Functionality
                a.list-group-item(href='#{link_fundamentals_of_security}') Access Permissions Misconfiguration
                a.list-group-item(href='#{link_fundamentals_of_security}') Use of Unsafe Functions
                a.list-group-item(href='#{link_fundamentals_of_security}') Weak Cryptographic Functions
                a.list-group-item(href='#{link_fundamentals_of_security}') Incorrect Calculation of Buffer Size
                a.list-group-item(href='#{link_fundamentals_of_security}') Open Redirect
                a.list-group-item(href='#{link_fundamentals_of_security}') Uncontrolled String Format
                a.list-group-item(href='#{link_fundamentals_of_security}') Hashing without Salt
                a.list-group-item(href='#{link_fundamentals_of_security}') Top iOS Threats
        //col-sm-9 
        //lge-container 
      //row for columns 
    //application div 
