mixin poc-filters-div
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    h4.label= filter.title
                    ul.side-nav
                        for result in filter.results
                            if activeFilter && result.id == activeFilter.id
                                a(href= href )
                                    li
                                        b= result.title
                                        span.right.badge= result.size
                            else
                                a(href=href + '/'+result.id)
                                    li
                                        = result.title
                                        span.right.badge= result.size

mixin poc-filters-2
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    .dropdown
                        button= filter.title
                            span.right
                                +arrow-down
                            ul.dropdown-menu
                                table.nav
                                    for result in filter.results
                                        tr
                                            td
                                                a(href= href )= result.title
                                            td
                                                span.right.badge= result.size

mixin reasons-div-round-1
    #reasons
        .lge-container
            .row
                .col-offset-3.col-6
                    include:md ../../../content/landing-pages/reasons-div-heading.md
                    table
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Fixvulns-round.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-1.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/reducevulns-round.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-2.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Expandknowledge-round.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-3.md

mixin reasons-div-round-2
    #reasons
        .lge-container
            include:md ../../../content/landing-pages/reasons-div-heading.md
            .row
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Fixvulns-round.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-1.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/reducevulns-round.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-2.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Expandknowledge-round.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-3.md

mixin reasons-div-rect-1
    #reasons
        .lge-container
            .row
                .col-offset-3.col-6
                    include:md ../../../content/landing-pages/reasons-div-heading.md
                    table
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Fixvulns-rect.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-1.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/reducevulns-rect.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-2.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Expandknowledge-rect.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-3.md

mixin reasons-div-rect-2
    #reasons
        .lge-container
            include:md ../../../content/landing-pages/reasons-div-heading.md
            .row
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Fixvulns-rect.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-1.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/reducevulns-rect.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-2.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Expandknowledge-rect.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-3.md

mixin reasons-div-none-1
    #reasons
        .lge-container
            .row
                .col-offset-3.col-6
                    include:md ../../../content/landing-pages/reasons-div-heading.md
                    table
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Fixvulns-none.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-1.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/reducevulns-none.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-2.md
                        tr
                            td.text-center
                                img(src='../../../../static/assets/icons/Expandknowledge-none.png')
                            td
                                include:md ../../../content/landing-pages/selling-point-3.md

mixin reasons-div-none-2
    #reasons
        .lge-container
            include:md ../../../content/landing-pages/reasons-div-heading.md
            .row
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Fixvulns-none.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-1.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/reducevulns-none.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-2.md
                .col-4
                    .lge-container
                        .text-center
                            img(src='../../../../static/assets/icons/Expandknowledge-none.png' width='75%')
                        include:md ../../../content/landing-pages/selling-point-3.md