mixin poc-filters-div
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    h4.label= filter.title
                    ul.side-nav
                        for result in filter.results
                            if activeFilter && result.id == activeFilter.id
                                a(href= href )
                                    li
                                        b= result.title
                                        span.right.badge= result.size
                            else
                                a(href=href + '/'+result.id)
                                    li
                                        = result.title
                                        span.right.badge= result.size

mixin poc-filters-2
    if filters
        #filters
            .bg
                h3 Filter by
                for filter in filters
                    .dropdown
                        button= filter.title
                            span.right
                                +arrow-down
                            ul.dropdown-menu
                                table.nav
                                    for result in filter.results
                                        tr
                                            td
                                                a(href= href )= result.title
                                            td
                                                span.right.badge= result.size